/* stylelint-disable custom-property-pattern */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer components {
  .package-card {
    @apply bg-glass-secondary-800 shadow-inner border-none;

    backdrop-filter: blur(7px);
  }

  .underpage {
    --circle: radial-gradient( circle at var(--x, 70%) var(--y, 50%), black 25%, transparent 0);
    --cogs: url('/assets/images/cogsbg.jpg');
    --splatter: url('/assets/images/masks/hole-splatter.webp');
    --mask: radial-gradient(
    circle at var(--x, 50%) var(--y, 50%),
    black var(--maskSize1, 0%) 0,
    rgba(0 0 0 10%) calc(var(--maskSize1, 0%) + 0.1%),
    transparent 0,
    transparent var(--maskSize2, 0%),
    rgba(0 0 0 10%) calc(var(--maskSize2, 0%) + 0.1%),
    black var(--maskSize2, 0%),
    rgba(0 0 0 10%) calc(var(--maskSize3, 0%) - 0.1%),
    black var(--maskSize3, 0%),
    rgba(0 0 0 10%) calc(var(--maskSize3, 0%) + 0.1%),
    transparent 0);

    mask-image: var(--circle);
    mask-clip: border-box;

    @apply hidden lg:block absolute top-0 left-0 w-full min-h-full z-[200] pointer-events-none;
    @apply  shadow-2xl shadow-pink-300 bg-slate-800 backdrop-blur-xl backdrop-opacity-40;

    box-shadow: inset 0 0 8px 10px rgba(0 0 0 80%);

  }

  .floating {
    @keyframes float {
      0% {
        transform: translate3d(0, 0, 0);
      }

      100% {
        transform: translate3d(0, 30px, 0);
      }
    }


      animation: float linear 2.5s infinite alternate;


    @media (prefers-reduced-motion: reduce) {
        @apply animate-none;
    }
  }

  #splash-bg-fallback {
    @apply block opacity-20 dark:opacity-100 -backdrop-hue-rotate-0;
  }
}

@layer utilities {
  .interactive {
    &-shadow {
      --x-shadow: 0;
      --y-shadow: 0;
      --x: 50%;
      --y: 50%;
      @apply relative p-5 text-pink-400;

      /* transition: all 0.2s ease; */

      &:hover{
        @apply cursor-pointer;

        /* transition: all 0.2s ease; */

        text-shadow: var(--x-shadow) var(--y-shadow) 10px var(--color-shadow-alt);
      }

      & > .i-shadow-text {
        @apply absolute top-0 left-0 w-full h-full;

        background-image: radial-gradient(circle closest-side, rgba(white, 0.05), transparent);
        background-position: var(--x) var(--y);
        background-repeat: no-repeat;
        text-shadow: none;

        --webkit-background-clip: text;
        --webkit-text-fill-color: transparent;

        /* transition: all 0.1s ease; */
      }
    }

    &-mouseglow {
      @apply absolute top-0 left-0 shadow-2xl blur shadow-teal-400 w-[300px] h-[300px] bg-teal-400 rounded-full z-[1000];
    }
  }
}
