@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  /* body {
    @apply bg-slate-100 dark:bg-blue-900
  } */
  a,
  .btn {
    @apply transition-colors duration-200;
    @apply hover:text-secondary;
    @apply focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-transparent focus:ring-secondary;
  }

  h1, h2 {
    @apply uppercase
  }

  header {
    &:hover {
      @apply opacity-100;
    }
  }
  .fixed-header {
    @apply dark:bg-blue-900;
  }
}

@layer utilities {

  .gradient-text {
    @apply text-transparent bg-clip-text;
    @apply bg-gradient-to-br from-slate-500 via-slate-400 to-slate-600 dark:from-cyan-300 dark:via-fuchsia-200 dark:to-pink-400;
  }

  .gradient-text-alt {
    @apply text-transparent bg-clip-text;
    @apply bg-gradient-to-br from-slate-400 via-slate-200 to-slate-500;
  }

  .bg-default {
    @apply bg-slate-100 dark:bg-blue-900
  }

  .bg-default-offset {
    @apply bg-slate-50 dark:bg-blue-800
  }


  .text-shadow {
    text-shadow: none;
    filter: drop-shadow(0 0 2px var(--color-shadow));
    text-fill-color: transparent;
    background-clip: text;
    --webkit-text-fill-color: transparent;
  }

  .text-shadow-alt {
    text-shadow: none;
    filter: drop-shadow(0 0 8px var(--color-shadow-alt));
    text-fill-color: transparent;
    background-clip: text;
    --webkit-text-fill-color: transparent;
  }

  .text-shadow-sm {
    text-shadow: none;
    filter: drop-shadow(0 0 4px var(--color-shadow));
    text-fill-color: transparent;
    background-clip: text;
    --webkit-text-fill-color: transparent;
  }

  .text-shadow-md {
    text-shadow: none;
    filter: drop-shadow(0 0 8px var(--color-shadow));
    text-fill-color: transparent;
    background-clip: text;
    --webkit-text-fill-color: transparent;
  }

  .text-shadow-lg {
    text-shadow: none;
    filter: drop-shadow(0 0 30px var(--color-shadow));
    text-fill-color: transparent;
    background-clip: text;
    --webkit-text-fill-color: transparent;
  }

  .text-shadow-none {
    text-shadow: none;
    filter: none;
  }

}