/* stylelint-disable property-no-unknown */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  body {
    @apply bg-gradient-to-bl font-body dark:from-slate-700 dark:to-slate-900;

    &.menu-open {
      @apply overflow-y-hidden;
    }

    strong {
      @apply text-primary;
    }
  }

  a,
  .btn {
    @apply transition-colors duration-200;
    @apply hover:text-secondary;
    @apply focus:outline-none focus:ring-2 focus:ring-inherit focus:ring-offset-2 focus:ring-offset-transparent;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-sans font-extrabold tracking-tighter print:font-bold;
  }

  h1,
  h2 {
    @apply font-display uppercase;
  }

  header {
    .brand {
      @apply scale-0 opacity-0 transition-all duration-200 ease-in-out;
    }

    nav {
      a {
        @apply text-shadow-alt-teal dark:hover:text-shadow-alt-teal font-sans text-violet-100 transition-colors hover:text-teal-400 dark:text-violet-100 dark:hover:text-teal-400;
      }
    }

    &.fixed-header {
      @apply !fixed top-0 left-0 right-0 bottom-auto bg-transparent pt-8 backdrop-blur-xl  xl:pt-4;

      &::after {
        content: '';
        @apply invisible absolute inset-0 z-0 dark:visible dark:bg-glass-primary-900;
        @apply md:filter md:backdrop-blur-md;
      }

      .brand {
        @apply -translate-y-1 scale-100 opacity-100 xl:transform-none;
      }

      nav {
        a {
          @apply text-slate-600 hover:text-teal-400 dark:text-violet-300 dark:hover:text-teal-400;
        }
      }
    }
  }

  .splash-wrapper {
    .splash-content {
      &::after {
        content: '';
        @apply absolute inset-0 z-0 rounded-full bg-slate-900 blur-xl;
      }

      h1,
      p {
        @apply relative z-10;
      }
    }
  }

  #splash-bg-fallback {
    @apply block opacity-100;

    video {
      @apply absolute z-0 object-cover object-center;
    }
  }

  ::-webkit-scrollbar {
    width: 12px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-slate-900;

    border-radius: 2px;
    box-shadow: inset 0 0 5px rgb(0 0 0 / 70%);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-violet-600 transition-colors duration-300 ease-in-out;

    border-radius: 2px;
    box-shadow: 0 0 5px rgb(0 0 0 / 70%);
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-violet-800;
  }
}

@layer components {
  #portal-root {
    @apply -z-10 bg-transparent;
  }

  .package-card {
    @apply rounded-t-2xl rounded-b-md dark:bg-glass-primary-800;

    .buy-popup {
      @apply overflow-hidden rounded-t-2xl rounded-b-md bg-glass-secondary-900 dark:bg-glass-primary-900;
    }
  }

  .partners-card {
    @apply relative;

    & > * {
      @apply z-20;
    }

    figure {
      @apply z-0;
    }

    picture {
      @apply z-0;

      filter: drop-shadow(0 0 2px rgba(255 255 255 / 1%));
    }

    &::after {
      content: '';
      @apply invisible absolute  inset-0 z-10 rounded-full bg-transparent opacity-20 bg-blend-overlay  blur-none filter group-hover:animate-ping dark:bg-teal-400;
    }
  }

  .badge {
    &-link {
      @apply text-shadow-alt dark:hover:text-shadow-alt-teal badge border-none text-teal-200 transition-colors hover:text-teal-400 dark:text-violet-200 dark:hover:text-teal-400;
    }
  }

  .content-section {
    .section-lead {
      @apply text-center font-extrabold text-xl dark:text-slate-50 2xl:text-2xl;
    }

    & > div {
      * {
        @apply pointer-events-auto;
      }
    }

    &#pricing {
      @apply h-full max-h-[66vh] min-h-[50vh] flex-row items-center;
    }
  }

  .ribbon-button {
    @apply absolute -top-4 -right-3 shadow-lg focus:shadow-none;
  }

  footer {
    @apply bg-transparent dark:bg-transparent;

    a {
      @apply font-bold text-violet-800 opacity-70 dark:text-teal-300;
    }
  }
}

@layer utilities {
  .gradient-text {
    @apply bg-clip-text text-transparent;
    @apply bg-gradient-to-br from-pink-300 via-teal-300 to-violet-700;
  }

  .gradient-text-alt {
    @apply bg-clip-text text-transparent;
    @apply bg-gradient-to-br from-slate-600 via-slate-400 to-slate-500 dark:from-slate-400 dark:via-slate-200 dark:to-slate-400;
  }

  .text-shadow {
    text-shadow: none;
    filter: drop-shadow(0 0 2px var(--color-shadow));
    text-fill-color: transparent;
    background-clip: text;

    --webkit-text-fill-color: transparent;
  }

  .brand {
    @apply inline-flex items-center font-display;
    @apply gradient-text text-shadow  text-shadow-alt gradient-text font-bold capitalize tracking-tight;

    span:last-child {
      @apply hidden;
    }

    &--logo {
      span:last-child {
        @apply inline-block h-12 w-12 -translate-x-4  -translate-y-2 xl:h-14 xl:w-14 xl:-translate-y-3 2xl:h-20 2xl:w-20 2xl:-translate-x-6 2xl:-translate-y-3;
      }
    }
  }

  .text-shadow-alt {
    text-shadow: none;
    filter: drop-shadow(0 0 8px var(--color-shadow-alt));
    text-fill-color: transparent;
    background-clip: text;

    --webkit-text-fill-color: transparent;

    &-teal {
      filter: drop-shadow(0 0 8px var(--color-shadow-teal));
    }

    &-sm {
      filter: drop-shadow(0 0 4px var(--color-shadow-alt));

      &-teal {
        filter: drop-shadow(0 0 4px var(--color-shadow-teal));
      }
    }

    &-md {
      filter: drop-shadow(0 0 8px var(--color-shadow-alt));

      &-teal {
        filter: drop-shadow(0 0 8px var(--color-shadow-teal));
      }
    }

    &-lg {
      filter: drop-shadow(0 0 12px var(--color-shadow-alt));

      &-teal {
        filter: drop-shadow(0 0 12px var(--color-shadow-teal));
      }
    }

    &-xl {
      filter: drop-shadow(0 0 18px var(--color-shadow-alt));

      &-teal {
        filter: drop-shadow(0 0 18px var(--color-shadow-teal));
      }
    }

    &-2xl {
      filter: drop-shadow(0 0 30px var(--color-shadow-alt));

      &-teal {
        filter: drop-shadow(0 0 30px var(--color-shadow-teal));
      }

      &-combo {
        filter: drop-shadow(0 0 30px var(--color-shadow-teal)),
          drop-shadow(0 0 30px var(--color-shadow-alt));
      }
    }

    &-4xl {
      filter: drop-shadow(0 0 50px var(--color-shadow-alt));

      &-teal {
        filter: drop-shadow(0 0 50px var(--color-shadow-teal));
      }
    }
  }

  .text-shadow-sm {
    text-shadow: none;
    filter: drop-shadow(0 0 4px var(--color-shadow));
    text-fill-color: transparent;
    background-clip: text;

    --webkit-text-fill-color: transparent;
  }

  .text-shadow-md {
    text-shadow: none;
    filter: drop-shadow(0 0 8px var(--color-shadow));
    text-fill-color: transparent;
    background-clip: text;

    --webkit-text-fill-color: transparent;
  }

  .text-shadow-lg {
    text-shadow: none;
    filter: drop-shadow(0 0 30px var(--color-shadow));
    text-fill-color: transparent;
    background-clip: text;

    --webkit-text-fill-color: transparent;
  }

  .text-shadow-none {
    text-shadow: none;
    filter: none;
  }
}
