/* stylelint-disable property-no-unknown */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  body {
    @apply font-body bg-gradient-to-bl dark:from-slate-700 dark:to-slate-900;

    &.menu-open {
      @apply overflow-y-hidden;
    }

  }

  a,
  .btn {
    @apply transition-colors duration-200;
    @apply hover:text-secondary;
    @apply focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-transparent focus:ring-secondary;
  }

  h1, h2, h3, h4 {
    @apply font-heading font-black print:font-bold tracking-tighter;
  }

  h1, h2 {
    @apply uppercase;
  }

  header {
    @apply backdrop-blur-lg;

    &:hover {
      @apply opacity-100;
    }
  }

  .fixed-header {
    @apply bg-transparent dark:bg-glass-primary-900 !fixed top-0 bottom-auto;
  }
}

@layer components {
  .package-card {
    @apply rounded-t-2xl rounded-b-sm dark:bg-violet-900;

    .package-popup {
      @apply bg-transparent dark:bg-glass-primary-900;
    }
  }

  footer {
    .mb-urls {
      a {
        @apply w-16 h-16 p-4 border-2 border-violet-500 dark:hover:border-teal-400 transition-all shadow shadow-violet-400 rounded-full;

        svg {
          @apply h-full dark:text-violet-500  transition-colors text-shadow-alt;
        }

        &:hover {
          svg {
            @apply dark:hover:text-teal-400;
          }
        }
      }

    }
  }

}

@layer utilities {
  .gradient-text {
    @apply text-transparent bg-clip-text;
    @apply bg-gradient-to-br from-slate-500 via-slate-400 to-slate-600 dark:from-pink-300 dark:via-teal-300 dark:to-violet-700;
  }

  .gradient-text-alt {
    @apply text-transparent bg-clip-text;
    @apply bg-gradient-to-br from-slate-400 via-slate-200 to-slate-500;
  }

  .text-shadow {
    text-shadow: none;
    filter: drop-shadow(0 0 2px var(--color-shadow));
    text-fill-color: transparent;
    background-clip: text;

    --webkit-text-fill-color: transparent;
  }

  .text-shadow-alt {
    text-shadow: none;
    filter: drop-shadow(0 0 8px var(--color-shadow-alt));
    text-fill-color: transparent;
    background-clip: text;

    --webkit-text-fill-color: transparent;

    &-teal {
      filter: drop-shadow(0 0 8px var(--color-shadow-teal));
    }

    &-sm {
      filter: drop-shadow(0 0 4px var(--color-shadow-alt));
    }

    &-2xl {
      filter: drop-shadow(0 0 30px var(--color-shadow-alt));

      &-teal {
        filter: drop-shadow(0 0 30px var(--color-shadow-teal));
      }

      &-combo {
        filter: drop-shadow(0 0 30px var(--color-shadow-teal)), drop-shadow(0 0 30px var(--color-shadow-alt));
      }
    }

    &-4xl {
      filter: drop-shadow(0 0 50px var(--color-shadow-alt));

      &-teal {
        filter: drop-shadow(0 0 50px var(--color-shadow-teal));
      }
    }
  }

  .text-shadow-sm {
    text-shadow: none;
    filter: drop-shadow(0 0 4px var(--color-shadow));
    text-fill-color: transparent;
    background-clip: text;

    --webkit-text-fill-color: transparent;
  }

  .text-shadow-md {
    text-shadow: none;
    filter: drop-shadow(0 0 8px var(--color-shadow));
    text-fill-color: transparent;
    background-clip: text;

    --webkit-text-fill-color: transparent;
  }

  .text-shadow-lg {
    text-shadow: none;
    filter: drop-shadow(0 0 30px var(--color-shadow));
    text-fill-color: transparent;
    background-clip: text;

    --webkit-text-fill-color: transparent;
  }

  .text-shadow-none {
    text-shadow: none;
    filter: none;
  }

}