@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer components {
  .portal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
  }

  .toast {
    @apply rounded-md shadow-lg min-w-max !max-w-xs overflow-hidden px-5;

    h3, p {
      @apply break-words max-w-xs mr-5;
    }

    .btn {
      @apply p-0 text-slate-800 ;
    }

    &[data-part="root"] {
      @apply bg-transparent hover:bg-slate-800 transition-colors duration-200 backdrop-blur-xl;

      animation-name: fadein;
      animation-duration: 0.3s;

      .toast-bg {
        @apply  absolute inset-0 z-0 bg-slate-800  opacity-10 hover:opacity-50 transition-opacity;
      }

      .btn {
        @apply text-inherit;
      }

      [data-part="progressbar"] {
        @apply bg-violet-600 h-1 absolute origin-left bottom-0 left-0 w-full z-10;

      }
    }

    &[data-part="root"][data-type="info"] {
      @apply  text-cyan-300;

      [data-part="progressbar"] {
        @apply bg-cyan-600;
      }
    }

    &[data-part="root"][data-type="error"] {
      @apply text-red-300;

      [data-part="progressbar"] {
        @apply bg-red-600;
      }

    }

    &[data-part="root"][data-type="success"] {
      @apply  text-green-200;

      [data-part="progressbar"] {
        @apply bg-green-600;
      }
    }

    &[data-part="root"][data-type="custom"] {
      @apply bg-glass-primary-700 text-teal-300;

      [data-part="progressbar"] {
        @apply bg-teal-600;
      }
    }

    &[data-part="root"][data-type="loading"] {
      @apply  text-violet-300;

      [data-part="progressbar"] {
        @apply bg-violet-600;
      }
    }



    &[data-part="root"]:not([data-open]) {
      animation-duration: 0.3s;
      animation-name: fadeout;
    }
  }
}